pandas
requests
beautifulsoup4
ipykernel
lxml
pysentimiento
selenium
colabcode #Ejecutar en Google Colab
jupyter
jupyterlab
webdriver-manager
feedparser
google-api-python-client #Google API
google-auth-httplib2
google-auth-oauthlib #Fin Google API
nltk
wordcloud
matplotlib